.DS_Store
.nimbella
.deployed
__deployer__.zip
__pycache__/
node_modules
.DS_Store
project.yml
shrampy-prod
virtualenv
.vscode
*.http
*.sqlite3
*.env
log
data/**
etc/data/**
etc/*.json
*.crt
*.pem
*_production
*_development
*_staging
model-ts/*.ts
frontend/model-ts/
